{% extends "app/base.html" %}
{% load i18n static %}

{% block bodyMainContent %}


<main class="container">


<div class="card mx-auto d-block">

  <div class="card-body">
    <h5 class="card-title">Fale conosco</h5>
    <p class="card-text">
</p>

          <form action="{% url 'account-contact-us' %}" method="post">
    {% csrf_token %}

<input class="w-100 btn btn-lg btn-primary"  type="submit" value="{% translate 'Enviar mensagem' %}">



</form>


  </div>
</div>

</main>



{% endblock %}
