{% load i18n l10n static  %}

<div class="info-box ">

  <div class="info-box-content">

      <div  class="text-center">
                <div id="chart-pie-transmissoes-{{card_periodo}}">
                </div>
                <div id="percentual-{{card_periodo}}">                 
                </div>
      </div>  




    <span class="info-box-text danger">{{card_title}}</span>

    <span class="info-box-text">{{totais.de}} Veiculo{{ totais.de|pluralize:"s"}}</span>
  </div>

</div>



  



            
          
  