





{% with appname=app_list|first %}
{{appname.app_label}}
{% endwith%}


{% extends "admin/base_site.html" %}

{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}




{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block content_title %} {% trans 'Início' %} {% endblock %}

{% block breadcrumbs %}

    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fa fa-tachometer-alt"></i> {% trans 'Home' %}</a></li>
        <li class="breadcrumb-item">{% trans 'Dashboard' %}</li>
    </ol>
{% endblock %}





{% block content %}
<div class="col-12">

    <div class="row">
        <div class="text-center container">
            <h2 class="widget-user-username text-bold">            
             {{ "Status de Transmissões"|upper }}</h2>      




             
              



        </div>
    </div>


    <div class="row">          
            <div class="col">
              {% include 'admin/includes/card_total_trans.html' with totais=total_transmissoes_ultima_hora card_periodo="ultima_hora" card_title="Ultima hora" %}            
              </div>

              <div class="col">
                {% include 'admin/includes/card_total_trans.html' with totais=total_transmissoes_entre_1_e_6 card_periodo="entre_1_e_6" card_title="Entre 1h e 6h" %}
               
              </div>


              <div class="col">
                {% include 'admin/includes/card_total_trans.html' with totais=total_transmissoes_entre_6_e_24  card_periodo="entre_6_e_24" card_title="Entre 6h e 24h" %}
              </div>



              <div class="col">
                {% include 'admin/includes/card_total_trans.html' with totais=total_transmissoes_entre_24_e_48  card_periodo="entre_24_e_48" card_title="Entre 24h e 48h" %}               
              </div>

              <div class="col">
                
                {% include 'admin/includes/card_total_trans.html' with totais=total_transmissoes_acima_de_48 card_periodo="acima_de_48" card_title="Acima de 48h" %} 

              </div>

    </div>

  </div>



<div class="col-lg-3 col-6">                                 
                    <div class="small-box bg-info">                      
                        <div class="inner">
                        <p>Entidades cadastradas</p>
                        <h3>{{total_entidades}}</h3>
                      </div>
                      
                      <div class="icon">
                        <i class="fas pl-2 fa-users"></i>
                      </div> 
              
                      <div class="small-box-footer">
                        <nav class="navbar navbar-expand">
                            <ul class="navbar-nav ml-auto">                   
                              <li class="nav-item">
                                <a class="btn btn-xs  bg-white" href="{% url 'admin:entidades_entidademodel_changelist'  %}">                          
                                  Entidades
                                  <i class="fas pl-2 fa-users"></i>
                                </a>
                              </li>    
                            </ul>
                        </nav>
                      </div>                    
                    </div>                
                  </div>



       <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-orange text-white">
          <div class="inner">
            <p class="text-white" >Veiculos cadastrados</p>
            <h3 class="text-white">{{total_veiculos}}</h3>
  
            </div>
          <div class="icon">
           
            <i class="fas fa-car"></i>
          </div>
          <div class="small-box-footer">
                <nav class="navbar navbar-expand">
                <ul class="navbar-nav ml-auto">
               
                  <li class="nav-item">
                    <a class="btn btn-xs  bg-white" href="{% url 'admin:veiculos_veiculomodel_changelist'  %}">                          
                      Veiculos
  
                      <i class="fas pl-2 fa-car"></i>
                    </a>
                  </li>    
                </ul>
                </nav>
            </div>
  
        </div>
      </div>

   <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            
            <p>Chips cadastrados</p>
            <h3>{{total_chips}}</h3>
          </div>
          <div class="icon">
            <i class="fas pl-2 fa-sim-card"></i>
          </div>
  
          <div class="small-box-footer">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav ml-auto">                   
                  <li class="nav-item">
                    <a class="btn btn-xs  bg-white" href="{% url 'admin:chips_chip_changelist'  %}">                          
                      Chips
                      <i class="fas pl-2 fa-sim-card"></i>
                    </a>
                  </li>    
                </ul>
            </nav>
          </div>
  
        </div>
      </div>

  <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <p>Equipamentos cadastrados</p>
            <h3>{{total_equipamentos}}</h3>
           
        </div>
          <div class="icon">
           
            <i class="fas fa-satellite"></i>
          </div>
  
          <div class="small-box-footer">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav ml-auto">
               
                  <li class="nav-item">
                    <a class="btn btn-xs  bg-white" href="{% url 'admin:equipamentos_equipamento_changelist'  %}">                          
                      Equipamentos
  
                      <i class="fas pl-2 fa-satellite"></i>
                    </a>
                  </li>    
                </ul>
            </nav>
          </div>
         
        </div>
      </div>
 


 

 

  <div class="container-fluid">
    <h3>
      Selecione a organização
  </h3>  
    <form class="d-flex" method="GET">
      {% include 'organizacoes_select_options.html' %}
      <button type="submit" class="btn btn-primary ml-4">Filtrar</button>
    </form>
  </div>



<div class="dropdown-divider"></div>    
{% endblock content %}


{% block extrajs %}
{{ block.super }}

<script  src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script  type="text/javascript">

async function renderChart(percentual,tag_id) {

  var chart = new ApexCharts(document.querySelector(tag_id), {
              series: [ percentual ],
              chart: {
              width:"100%",
              type: 'radialBar',
              toolbar: {
                show: false,
                offsetY: -10
              }
            },
            plotOptions: {
              radialBar: {
                startAngle: -135,
                endAngle: 135,
                 hollow: {
                  margin: 0,
                  size: '40%',
                  background: '#fff',
                  image: undefined,
                  imageOffsetX: 0,
                  imageOffsetY: 0,
                  position: 'front',
                  dropShadow: {
                    enabled: true,
                    top: 3,
                    left: 0,
                    blur: 4,
                    opacity: 0.24
                  }
                },
                track: {
                  background: '#fff',
                  strokeWidth: '57%',
                  margin: 0, // margin is in pixels
                  dropShadow: {
                    enabled: true,
                    top: -3,
                    left: 0,
                    blur: 4,
                    opacity: 0.35
                  }
                },
            
                dataLabels: {
                  show: true,
                  name: {                   
                    show: false,
                    color: '#888',
                    fontSize: '12px'
                  },
                  value: {
                    formatter: function(val) {
                      return parseInt(val)+"%";
                    },
                    offsetY: 10,
                    color: '#111',
                    fontSize: '26px',
                    fontWeight: 'bold',
                    show: true,                
                  }
                }
              }
            },
            fill: {
          type: 'gradient',
          gradient: {
              shade: 'dark',
              shadeIntensity: 0.15,
              inverseColors: false,
              opacityFrom: 1,
              opacityTo: 1,
              stops: [0, 50, 65, 91]
          },
        },
            stroke: {
          dashArray: 2
        },
            labels: ['Percentual'],
            });
           
            chart.render();

}


  $(document).ready(function() {
          var acima_de_48 = "{% widthratio total_transmissoes_acima_de_48.total total_transmissoes_acima_de_48.de  100 %}";
          renderChart(acima_de_48,"#chart-pie-transmissoes-acima_de_48");
          var ultima_hora = "{% widthratio total_transmissoes_ultima_hora.total total_transmissoes_ultima_hora.de  100 %}";
          renderChart(ultima_hora,"#chart-pie-transmissoes-ultima_hora");
          var entre_1_e_6 = "{% widthratio total_transmissoes_entre_1_e_6.total total_transmissoes_entre_1_e_6.de  100 %}";
          renderChart(entre_1_e_6,"#chart-pie-transmissoes-entre_1_e_6");
          var entre_6_e_24 = "{% widthratio total_transmissoes_entre_6_e_24.total total_transmissoes_entre_6_e_24.de  100 %}";
          renderChart(entre_6_e_24,"#chart-pie-transmissoes-entre_6_e_24");
          var entre_24_e_48 = "{% widthratio total_transmissoes_entre_24_e_48.total total_transmissoes_entre_24_e_48.de  100 %}";
          renderChart(entre_24_e_48,"#chart-pie-transmissoes-entre_24_e_48");
            });
        </script>

{% endblock %}