{% extends 'base/auth.html' %}
{% load i18n static add_css %}

{% block head_js_inline %}
{{ block.super }}
<script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
{% endblock head_js_inline%}



{% block auth_menu_itens %}
<a href="{% url 'login' %}?next=/manager/" class="item " >{% translate 'Entrar' %}</a>       
<a href="{% url 'password_reset' %}?next=/manager/" class="item active" >{% translate 'Recuperar senha' %}</a>
{% endblock auth_menu_itens %}



{% block core_body %}

<div class="ui middle aligned center aligned grid">
  <div class="column left aligned">
    
    <div class="ui  message center aligned">
      <h2 class="ui header center aligned">       
        <div class="content center aligned">
            {% translate 'Recuperar senha' %}
        </div>
      </h2>           
    </div>



    <form class="ui large form" method="post" action="{% url 'password_reset' %}?next={{next}}">
        {% csrf_token %}

      <div class="ui stacked segment">
        {% for field in form %}        
        <div class="field left ">
            <label>{{field.label_tag}}</label>
            <div class="ui left icon input">
             <i class="mail icon"></i>  
              {{field}}            
            </div>
            {% if field.help_text %}
            <div class="ui message">
              <div class="header">
                Critérios para {{field.label}}
              </div>
              {{ field.help_text|safe }}
            </div>
      
                  
            {% endif %}
          </div>
        {% endfor %}
        <div class="ui fluid large primary submit button"> {% translate 'Recuperar senha' %}</div>
      </div>


      <div class="ui error message">
        {% if form.non_field_errors %}        
        {% for error in form.non_field_errors %}
            <div class="alert text-white " role="alert">
                {{ error }}
            </div>
        {% endfor %}        
        {% endif %}       
      </div>

    </form>


  


  </div>
  </div>


{% endblock %}

